@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon Manager!</h1>
<p class="btn btn-color" href="#" role="button">@Html.ActionLink("See all Clients", "Index", "Clients")</p>
<p class="btn btn-color" href="#" role="button">@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
